---
# Node Exporter role defaults

node_exporter_version: "1.7.0"
node_exporter_port: 9100
node_exporter_textfile_dir: /var/lib/node_exporter/textfile_collector

node_exporter_collectors:
  - cpu
  - diskstats
  - filesystem
  - loadavg
  - meminfo
  - netdev
  - stat
  - time
  - uname
  - vmstat

# 바이너리 다운로드 URL
node_exporter_download_url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"
